<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>HOME</title>
</head>
<body>
    <%- include('layouts/header')%> 
    <%- include('layouts/sideNav')%> 
    <%- include('layouts/objetivoG')%> 
    <%- include('layouts/tecnologias')%> 
    <%- include('layouts/dirigidoA')%>
    <%- include('layouts/proyecto')%>
    <%- include('layouts/config')%>
    <%- include('layouts/prueba')%>
    <%- include('layouts/comments')%>
    <%- include('layouts/footer')%>
    <script src="../../public/js/Matrix.js"></script>
	<script src="../../public/js/Dejavu.js"></script>
	<script src="../../public/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../../public/js/index.js"></script>
</body>
</html>